GEMINI_API_KEY=
DB_PASSWORD=
API_NAME=DOCMIND
PORT=3000
NODE_ENV='development'
CLIENT_URL="http://localhost:5713"
JWT_SECRET=
JWT_EXPIRES_IN=
BCRYPT_ROUNDS=
NEW_DB_USER_PASS=
DATABASE_URL=
ADMIN_DATABASE_URL=